.seekerDropdownContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #909090;
  position: absolute;
}

.seekerDropdownListContainer {
  height: 35px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
